<section class="card <%= card.strategy%>" id="<%= card.id%>">
    <svg class="icon pin">
        <use xlink:href="/img/icon-sprite.svg#pin" />
    </svg>
    <a href="/cards/<%= card.strategy%>/<%= card.id%>">
        <header>
            <img class="icon" src="/img/icon-<%= card.strategy%>.svg" alt="logo <%= card.strategy%>">
            <h1>
                <%= card.name%>
            </h1>
        </header>
        <img src="<%= card.image %>" alt="<%= card.name%>" width="<%= card.width %>" height="<%= card.height %>">
        <h2>Why?</h2>
        <p><%- card.why %></p>
        <% if (card.sliders) { %>
            <div class="sliders">
                <div>
                    <span class="label">inspiration</span>
                    <span class="amount" data-amount="<%= card.sliders.inspiration_data %>"></span>
                    <span class="label">data</span>
                </div>
                <div>
                    <span class="label">expertise</span>
                    <span class="amount" data-amount="<%= card.sliders.expertise_fit %>"></span>
                    <span class="label">fit</span>
                </div>
                <div>
                    <span class="label">overview</span>
                    <span class="amount" data-amount="<%= card.sliders.overview_certainty %>"></span>
                    <span class="label">certainty</span>
                </div>
            </div>
            <% } %>
    </a>
    <a class="button call-to-action" href="/cards/<%= card.strategy%>/<%= card.id%>">More
        info</a>
</section>