<section class="card <%= card.strategy%>" id="<%= card.id%>">
    <svg class="icon pin">
        <use xlink:href="/img/icon-sprite.svg#pin" />
    </svg>
    <a href="/cards/<%= card.strategy%>/<%= card.id%>">
        <header>
            <img class="icon" src="/img/icon-<%= card.strategy%>.svg" alt="logo <%= card.strategy%>">
            <h1>
                <%= card.name%>
            </h1>
        </header>
        <img src="<%= card.image %>" alt="<%= card.name%>" width="<%= card.width %>" height="<%= card.height %>">
        <h2>Why?</h2>
        <p><%- card.why %></p>
        <% if (card.sliders) { %>
            <div class="sliders">
                <div>
                    <label>inspiration</label>
                    <input type="range" disabled value="<%= card.sliders.inspiration_data %>">
                    <label>data</label>
                </div>
                <div>
                    <label>expertise</label>
                    <input type="range" disabled value="<%= card.sliders.expertise_fit %>">
                    <label>fit</label>
                </div>
                <div>
                    <label>overview</label>
                    <input type="range" disabled value="<%= card.sliders.overview_certainty %>">
                    <label>certainty</label>
                </div>
            </div>
            <% } %>
    </a>
    <a class="button call-to-action" href="/cards/<%= card.strategy%>/<%= card.id%>">More
        info</a>
</section>