<section class="category-description <%= card.strategy %>">
    <div>
        <img class="icon flip flipable" src="/img/icon-<%= card.strategy%>.svg" alt="logo <%= card.strategy%>">
        <h1>
            <%= card.name %>
        </h1>
        <h2>Goal</h2>
        <div>
            <p><em><%- card.motto %></em></p>
            <p><%- card.why %></p>
        </div>
    </div>
    <img class="category-img" src="/img/<%= card.strategy%>.png" alt="research strategy <%= card.strategy%>">
</section>