<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); %>
</head>

<body>
    <%- include('includes/header'); %>

        <% if (query.search ) { %>
            <h1>Search results for "<%= query.search %>"</h1>
            <% } %>

                <main class="grid" id="filter-results">
                    <div class="subgrid">
                        <% cardlist.forEach(card=> { %>
                            <%- include('includes/card', {card: card}) %>

                                <% }); %>
                    </div>
                </main>

                <%- include('includes/footer'); %>

</body>

</html>