<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); %>
</head>

<body>
    <%- include('includes/header'); %>

        <main id="home">
            <div class="grid">

                <section class="home category-description flip-slow">
                    <div>
                        <img class="icon" src="/img/icon-home.svg" alt="home">
                        <h1>CMD Methods Pack</h1>
                        <p>This pack supports your design research planning in any CMD project. Browse through the cards
                            to find methods that suit your needs. Pick a combination of methods belonging to different
                            research strategies to balance your research plan. You can use this card set in many ways.
                            It is really up to you!</p>
                    </div>
                    <footer>
                        <a class="button" href="/?sort=strategy">Sort by research strategy</a>
                        <a class="button" href="/?sort=alphabetical">Sort alphabetical</a>
                    </footer>
                </section>

                <section class="subgrid" id="unpinned-cards">
                    <% cardlist.forEach((card)=> { %>
                        <% if (card.type==="category-description" ) { %>
                            <%- include('includes/category-description', {card: card}); %>
                                <% } else { %>
                                    <%- include('includes/card', {card: card}); %>
                                        <% }; %>
                                            <% }); %>

                </section>
            </div>
        </main>


        <%- include('includes/footer'); %>
</body>

</html>